<div id='main_container'>
	<h1 class="welcome_heading">SCSS lab</h1>
	<h1 class="sub_welcome_heading">Content goes here:</h1>
	<div id="list_container">
		<ul id="some_list">
			<li class="some_list_items">
				pepperoni
			</li>
			<li>
				cheese
			</li>
			<li>
				mushroom
			</li>
		</ul>
	</div>
</div>

<div id='other_container'>
	other stuff goes here
</div>

<div id ='final container'>
	<ul id="some_list">
		<li class="some_list_items">
			blue gatorade
		</li>
		<li>
			capri sun
		</li>
		<li>
			hi-c
		</li>
		<li>
			dark and stormy
		</li>
	</ul>
</div>